<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Facebook Timeline Template</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Facebook Timeline Template" />
    <meta name="keywords" content=" timeline, facebook, scroll, jquery, css3" />
    <meta name="author" content="Your Name" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    {% block css %}
      <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
      <!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
      <!--[if IE]><link rel="stylesheet" type="text/css" href="css/styleIE.css" /><![endif]-->
      <link href="{% static 'player/skin/pink.flag/jplayer.pink.flag.css' %}" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
      <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
      <link rel="stylesheet" href="{% static 'css/jquery.vegas.css' %}" type="text/css" media="screen" charset="utf-8" />
    {% endblock css %}
  </head>
  <body class="blackbody">
    <div id="fb-root"></div>
    <div class="header-white"></div>
    <div class="container" id="#containera">
      <div class="ss-nav">
        <div id="header-wrapper">
          <a href="index.html" class="logohover"><div class="logo"></div></a>
          <div class="wrapper">
            <ul class="nav" id="ss-nav">
              <li><a href="#images">Main</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="ss-container" class="ss-container">
        <header>
          <div class="support-note"><!-- let's check browser support with modernizr -->
            <!--span class="no-cssanimations">CSS animations are not supported in your browser</span-->
            <span class="no-csstransforms">CSS transforms are not supported in your browser</span>
            <!--span class="no-csstransforms3d">CSS 3D transforms are not supported in your browser</span-->
            <span class="no-csstransitions">CSS transitions are not supported in your browser</span>
            <span class="note-ie">Sorry, only modern browsers.</span>
          </div>
        </header>
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    {% block js %}
      <script src="{% static 'js/jquery-1.8.1.js' %}" type="text/javascript"></script>
      <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/modernizr.custom.79639.js' %}"></script>
      <script type="text/javascript" src="{% static 'player/js/jquery.jplayer.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'player/js/jplayer.playlist.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/move.js' %}"></script>
      <script src="{% static 'js/jquery.prettyPhoto.js' %}" type="text/javascript" charset="utf-8"></script>
      <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jquery.accordion.2.0.js' %}" charset="utf-8"></script>
      <script type="text/javascript" src="{% static 'js/all-functions.js' %}"></script>
      <script src="{% static 'js/jquery.vegas.js' %}" type="text/javascript" charset="utf-8"></script>
      <script>
        $.vegas('slideshow', {
            delay:7000,
            backgrounds:[
                { src:'{% static 'images/preview/bg-1.jpg' %}', fade:4000 },
                { src:'{% static 'images/preview/bg-2.jpg' %}', fade:4000 },
                { src:'{% static 'images/preview/bg-3.jpg' %}', fade:4000 },
                { src:'{% static 'images/preview/bg-4.jpg' %}', fade:4000 }
            ]
        })('overlay', {
            src:'{% static 'images/overlays/01.png' %}'
        });
      </script>
      <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
      <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=296745437108156";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
    {% endblock js %}
  </body>
</html>
