{% load markdown_deux_tags %}
<div class="ss-{{ position }}">
  {% if show_date %}
    <div class="time-dot-date">
      <div class="arrow-date-border"></div>
      <div class="arrow-date"></div>
      <div class="container-border">
        <div class="gray-container">
          {{ post.date_created|date:'d b Y' }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="time-dot" rel="tooltip" title="{{ post.date_created|date:'H:m' }}"></div>
  <div class="{% if position == 'full' %}arrow-up{% else %}arrow-side{% endif %}"></div>
  <div class="container-border" >
    <div class="gray-container">
      <h3 class="content-title">{{ post.title }}</h3>
      <div class="tags">
        {% for tag in post.tags.all %}
          <a href="#">#{{ tag.name }}</a>
        {% endfor %}
      </div>
      {% if post.slide_set.all %}
        <div id="flexslider-nav-{{ post.id }}" class="flexslider flexslider-nav-space">
          <ul class="slides">
            {% for slide in post.slide_set.all %}
              <li>
                <div class="hover-effect h-style">
                  <a href="{{ slide.image.url }}"  rel="prettyPhotoImages[{{ post.id }}]"><img src="{{ slide.image.url }}" /></a>
{#                  <div class="mask">#}
{#                    <h2>Hover Style</h2>#}
{#                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac purus nec diam laoreet sollicitudin.</p>#}
{#                    <a href="extra-content-b.html?iframe=true&width=750&height=720" class="info" rel="prettyPhoto[5]"> <span class="button violet">Read More</span></a>#}
{#                  </div>#}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {{ post.short_text|markdown }}
    </div>
  </div>
</div>
