{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<style>
.ss-left .tags, .ss-right .tags{
  margin: 10px 0;
}

.ss-left, .ss-right {
  width: 440px;
  margin-bottom: 25px;
  text-align: left;
}
.ss-right {
  float: right;
}

.ss-right .time-dot-date,
.ss-left .time-dot-date {
 top: -50px;
}

.ss-left .time-dot-date {
  right: -94px;
}
.ss-right .time-dot-date {
 left: -94px;
}

.ss-left .time-dot {
  right: -16px;
}
.ss-right .time-dot {
  left: -16px;
}

.ss-right .arrow-side {
  left: 8px;
}
.ss-left .arrow-side {
  right: 8px;
}

.ss-full .arrow-up {
  margin-left: -9px;
  left: 50%;
}
.ss-full .time-dot {
    top: 12px;
    left: 50%;
    margin-left: -4px;
}

.full-posts {
  clear: both;
  width: 960px;
  margin-left: -480px;
  left: 50%;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}

.ss-container {
  margin: 0 auto;
  float: none;
      position: static;
}

.flexslider-nav-space {width: 400px;}
.ss-row.header .ss-left,
.ss-row.header .ss-right{
  text-align: center;
}

.right-posts, .left-posts {
  width: 470px;
  float: left;
  min-height: 1px;
  margin-left: -470px;
  left: 50%;
  position: relative;
}
.right-posts {
  margin-left: 0;
}

{#.blackbody {#}
{#  background: #fff;#}
{#}#}

</style>
  <div class="ss-row header">
    <div class="left-posts">
      <div class="ss-left ">
        <h2 class="ss-row-titles">SHE</h2>
      </div>
    </div>
    <div class="right-posts">
      <div class="ss-right">
        <h2 class="ss-row-titles">HE</h2>
      </div>
    </div>
  </div>
  {% for date, all_posts in posts_by_date.items %}
    <div class="ss-row">
      {% for post_section in all_posts %}
        {% if post_section.full_posts %}
          <div class="full-posts">
            {% for full_post in post_section.full_posts %}
              {% include 'post/_list_element.html' with post=full_post show_date=forloop.parentloop.first position='full' %}
            {% endfor %}
          </div>
        {% else %}
          <div class="left-posts">
            {% for her_post in post_section.her_posts %}
              {% include 'post/_list_element.html' with post=her_post show_date=forloop.parentloop.first position='left' %}
            {% endfor %}
          </div>
          <div class="right-posts">
            {% for his_post in post_section.his_posts %}
              {% if post_section.her_posts %}
                {% include 'post/_list_element.html' with post=his_post position='right' %}
              {% else %}
                {% include 'post/_list_element.html' with post=his_post show_date=forloop.parentloop.first position='right' %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
{% endblock content %}
